.contacts {
  padding: 42px 0 39px 0;
  max-width: 1050px;
  margin: 0 auto;
}

.contacts__header {
  padding: 0 30px;
}

.contacts__title {
  @include reset-indent;
  margin-left: -1px;

  @include font-bold (18px, 400, normal, 30px, #000000);
}

.contacts__map {
  position: relative;
}

.contacts__map::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 101px;
  top: 144px;
  left: 138px;

  background: {
    image: url("../img/sprite.svg#shape-map-pin-view");
    size: 66px 101px;
    repeat: no-repeat;
  }
}

.contacts__frame-map {
  width: 100%;
  height: 457px;

  @include reset-indent;
  position: absolute;
  z-index: 2;
}

.contacts__data {
  padding: 26px 30px 37px;
}

.contacts__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &--first {
    padding-bottom: 29px;
  }
}

.contacts__info {
  @include reset-indent;
  @include font-regular (15px, 400, normal, 30px, $content-color);

  &--description {
    width: 76px;
  }

  &--underline {
    border-bottom: 1px solid #62d1ba;
  }

  &--address {
    width: 160px;
  }
}

.contacts__footer {
  padding: 0 30px;
}

.contacts__button--link {
  display: block;
  width: 100%;
  padding: 14px 0;
  margin-top: 38px;
  border: 2px solid #444444;

  @include font-bold (17px, 400, normal, 20px, $content-color);
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 50px 0px 47px;
  }

  .contacts__header {
    padding: 0 50px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    padding-top: 17px;
    padding-bottom: 40px;
    margin-left: -5px;

    &::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 82px;
      top: -9px;
      right: 0;
      background: {
        image: url("../img/sprite.svg#shape-flag-view");
        repeat: no-repeat;
        size: 52px 85px;
      }
    }
  }

  .contacts__data {
    display: flex;
    padding: 18px 50px 27px;
    align-items: baseline;
  }

  .contacts__row {
    flex-basis: 50%;

    &--first {
      margin-right: auto;
    }
  }

  .contacts__info {
    font-size: 17px;
    line-height: 30px;

    &--address {
      width: 240px;
      padding-bottom: 29px;
    }
  }

  .contacts__map::before {
    top: 141px;
    left: 364px;
  }

  .contacts__footer {
    padding-top: 15px;
    padding-bottom: 8px;
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 54px 100px 25px 100px;
  }

  .contacts__header {
    padding: 0;
  }

  .contacts__title {
    padding-top: 100px;
    padding-bottom: 62px;
    padding-left: 175px;
    font-size: 53px;

    &::before {
      right: auto;
      left: 65px;
    }
  }

  .contacts__map {
    width: 528px;
    margin-top: -336px;
    float: right;
  }

  .contacts__map::before {
    top: 146px;
    left: 241px;
  }

  .contacts__data {
    display: block;
    padding: 0;
    padding-left: 175px;
  }

  .contacts__info--address {
    padding-bottom: 10px;
  }

  .contacts__footer {
    padding: 30px 0 80px;
    width: auto;
  }

  .contacts__button--link {
    margin-left: 175px;
    width: 230px;
  }
}
