.features {
  @include reset-indent;
}

.features__list {
  @include reset-indent;
  list-style: none;
  display: flex;
  flex-direction: column;

}

.features__item {

}

.features__link {
  display: block;


  @include font-bold (19px, 400, normal, 24px, $additional-color);
  text-decoration: none;
}

.features__link--interior {
  @include main-padding (26px, 77px, 28px, 29px);

  background: {
    color: #63d1bb;
    image: url("../img/icon-interior.svg");
    repeat: no-repeat;
    size: 40px 60px;
    position: 87% 65%;
  }
}

.features__link--toys {
  @include main-padding (26px, 114px, 30px, 29px);

  background: {
    color: #56c3b2;
    image: url("../img/icon-toy.svg");
    repeat: no-repeat;
    size: 60px 60px;
    position: 233px 23px;
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    padding: 0 50px;
    flex-direction: row;
  }

  .features__item {
    flex-basis: 50%;
  }

  .features__link {
    width: 100%;

    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;

    &--interior {
      padding: 28px 80px 20px 36px;
    }

    &--toys {
      padding: 28px 120px 20px 36px;
    }
  }
}
