.features {
  @include reset-indent;
  max-width: 1050px;
  margin: 0 auto;
}

.features__list {
  @include reset-indent;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.features__link {
  display: block;
  position: relative;

  @include font-bold (19px, 400, normal, 24px, $additional-color);
  text-decoration: none;
}

.features__link--interior {
  padding: 26px 77px 28px 29px;
  background-color: #63d1bb;
}

.features__link--toys {
  padding: 26px 114px 30px 29px;
  background-color: #56c3b2;
}

.features__icon {
  position: absolute;
  opacity: 0.5;

    &--interior {
    top: 24px;
    right: 36px;
  }

    &--toys {
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
    }
}

.features__link {

  &:hover {
    margin-top: -5px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

.features__link span {
  display: inline-block;
  width: 160px;
}

@media (min-width: $tablet-width) {
  .features__list {
    padding: 0 50px;
    flex-direction: row;
  }

  .features__item {
    flex-basis: 50%;
  }

  .features__link {
    width: 100%;
    padding: 28px 0 40px 36px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
  }

  .features-icon {

    &--interior {
        top: 30px;
    }

    &--toys {
        top: 31px;
        right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    padding: 0;
    flex-direction: row;
  }

  .features__link {
    padding: 28px 0 47px 36px;
  }
}
