.feedback {
  max-width: 1050px;
  padding: 26px 30px 44px 30px;
  margin: 0 auto;

  @include background-wave;
}

.feedback__title {
  @include reset-indent;
  margin-left: -1px;

  @include font-bold (25px, 400, normal, 30px, #000000);
}

.feedback__text {
  @include reset-indent;
  padding-top: 23px;

  @include font-regular (15px, 400, normal, 30px, $content-color);
}

.feedback__autor-name {
  @include reset-indent;
  padding-top: 28px;

  @include font-bold (17px, 400, normal, 24px, $header-color);
}

.feedback__autor-contact {
  @include reset-indent;
  display: block;
  padding-top: 2px;
  padding-bottom: 28px;

  @include font-regular (17px, 400, normal, 30px, $content-color);
}

.feedback__control-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feedback__control-button {
  width: 50%;
  padding: 36px 0 15px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.feedback__control-link {
  display: block;
  width: 100%;
  padding: 14px 0;
  margin-top: 38px;
  border: 2px solid #444444;

  @include font-bold (17px, 400, normal, 20px, $content-color);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback {
    position: relative;
    padding: 50px 50px 0;
    display: flex;
    flex-wrap: wrap;
    background: {
      image: url("../img/review@1x.jpg");
      size: 350px 100%;
      repeat: no-repeat;
      position: left;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &__title {
      width: 50%;
      margin-top: 36px;
      margin-bottom: 39px;
      margin-left: -4px;
      font-size: 43px;
      order: 1;
    }

    &__text {
      padding-bottom: 56px;
      font-size: 17px;
      line-height: 30px;
      order: 3;
    }

    &__autor-name {
      padding: 0;
      width: 50%;
      font-size: 18px;
      order: 4;
    }

    &__autor-contact {
      padding: 0;
      padding-top: 3px;
      font-size: 17px;
      order: 5;
    }

    &__control-block {
      flex-basis: 175px;
      margin-top: 3px;
      padding-bottom: 52px;
      margin-left: auto;
      order: 6;
    }

    &__control-link {
      margin-left: auto;
      flex-basis: 175px;
      margin-top: 8px;
      align-self: center;
      order: 2;
    }
  }

  .feedback::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 17px;
    bottom: -83px;
    left: 0;
    background: {
      image: url("../img/bg-zigzag-line.svg");
      repeat: repeat-x;
      position-y: bottom;
      size: auto 17px;
    }
  }

  .feedback__control-button {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 52px 100px 46px 100px;
    background-position: 100px 0;
  }

  .feedback__title {
    margin-top: 38px;
    margin-left: 175px;
    font-size: 53px;
  }

  .feedback__text {
    width: 800px;
    margin-left: 175px;
    padding-bottom: 39px;
  }

  .feedback__autor-name {
    font-size: 17px;
    margin-left: 175px;
  }
}
