.main-navigation {
  @include reset-indent;
  background-color: #ffffff;
}
.main-navigation__list {
  @include reset-indent;
  display: block;
  list-style: none;
}

.main-navigation__item {
  margin-top: -1px;
  border-top: 1px solid #ececec;

  &--logo {
    @include main-padding(0, 30px);
    position: relative;
    text-align: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  &--mobile {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.main-navigation__link {
  display: block;
  padding: 30px 10px 30px 76px;

  @include font-bold (17px, 400, normal, 24px, $header-color);
  text-decoration: none;

  &--logo {
    @include main-padding(22px, 0, 16px, 0);
  }
}

.main-navigation__form{
  position: relative;
}

.main-navigation__input {
  display: none;
}

.main-navigation__icon {
  position: absolute;
  top: 31px;
  left: 30px;
}

.main-navigation__link--cart {
  position: relative;

  &::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 19px;
    top: 31px;
    left: 30px;
    background: {
      image: url("../img/icon-cart.svg");
      size: 20px 19px;
      repeat: no-repeat;
    }
  }
}

.main-navigation__button {
  display: block;
  position: absolute;
  bottom: 43%;
  right: 30px;
  width: 20px;
  height: 14px;
  font-size: 0;
  border: none;
  background: {
    image: url("../img/icon-menu-open.svg");
    color: #ffffff;
    size: 20px 14px;
    repeat: no-repeat;
  }
}

.main-navigation__item--delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    min-width: 768px;
    margin: 0 auto;
    background-color: #f1f1f1;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .main-navigation__item {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;

    &--logo {
      width: 369px;
      padding-left: 48px;
      text-align: left;
      order: 1;
      border-bottom: 1px solid #dfdfdf;
      background-color: #ffffff;
    }

    &--bases {
      order: 4;
    }

    &--form {
      width: 84px;
      border: 1px solid #dfdfdf;
      border-top: none;
      background-color: #ffffff;
      order: 2;
    }

    &--cart {
      width: 314px;
      border-bottom: 1px solid #dfdfdf;
      background-color: #ffffff;
      order: 3;
    }

    &--delivery {
      margin-left: auto;
      padding: 0;
      padding-top: 17px;
      padding-right: 50px;

      @include font-regular (15px, 400, normal, 24px, $content-color);
      order: 5;
    }

    &--desktop {
      display: none;
    }
  }

  .main-navigation__link {
    font-size: 15px;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 15px;

    &--indent {
      padding: 17px 37px 0 49px;
    }

    &--bases {
      padding-top: 17px;
    }

    &--search {
      font-size: 0;
    }

    &--cart {
      padding-left: 83px;
      font-size: 17px;

      &::before {
        top: 34px;
        left: 32px;
        opacity: 0.3;
      }
    }
  }

  .main-navigation__icon {
    top: 36px;
    left: 33px;
    opacity: 0.3;
  }

  .main-navigation__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    width: 1150px;
    padding: 0 50px;
  }

  .main-navigation__list {
    justify-content: space-between;
  }

  .main-navigation__item {
    display: block;
    flex-grow: 1;
    padding: 0;

    &--logo {
      order: 2;
    }

    &--bases {
      order: 1;
    }

    &--form {
      order: 3;
    }

    &--cart {
      order: 4;
    }

    &--delivery {
      display: block;
      order: 6;
    }

    &--tablet {
      background-color: #ffffff;
    }

    &--desktop {
      display: block;
      order: 5;
    }
  }

  .main-navigation__link {
    padding: 0;
    padding-top: 17px;
    font-size: 17px;

    &--indent {
      padding: 17px;
    }

    &--bases {
      padding-top: 17px;
    }

    &--search {
      font-size: 0;
    }

    &--cart {


      &::before {
        top: 34px;
        left: 32px;
        opacity: 0.3;
      }
    }
  }
}
