.main-navigation {
  @include reset-indent;
  background-color: #ffffff;
}
.main-navigation__list {
  @include reset-indent;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-navigation__item {
  display: none;
  margin-top: -1px;
  border-bottom: 1px solid #ececec;
  text-align: center;

  &--logo {
    display: block;
    position: relative;
    border-top: 1px solid #ececec;
  }
}

.main-navigation__link {
  display: block;
  @include font-bold (17px, 400, normal, 24px, $header-color);
  text-decoration: none;

  &--logo {
    padding: 22px 0 16px;
  }

  &--catalog {
    margin-left: -20px;
    padding: 27px 0 28px;
  }

  &--individual {
    margin-left: -13px;
    padding: 27px 0 28px;
  }

  &--search {
    margin-left: -33px;
    padding: 27px 0 28px;
  }

  &--cart {
    margin-left: 12px;
    padding: 27px 0 28px;
    position: relative;

    &::before{
      position: absolute;
      content: "";
      width: 21px;
      height: 23px;
      margin-left: -45px;
      opacity: 0.3;
      background: {
        image: url("../img/icon-cart.svg");
        size: 21px 18px;
        repeat: no-repeat;
        position: 0 4px;
      }
    }
  }
}

.main-navigation__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-navigation__input {
  display: none;
}

.main-navigation__icon {
  margin-top: 3px;
  margin-right: 58px;
  margin-left: -77px;
}

.main-navigation__button {
  display: block;
  position: absolute;
  bottom: 43%;
  right: 30px;
  width: 20px;
  height: 14px;
  font-size: 0;
  border: none;
  background: {
    image: url("../img/icon-menu-open.svg");
    color: #ffffff;
    size: 20px 14px;
    repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-navigation__item {
    border: none;
    text-align: left;

    &--logo {
      padding-left: 50px;
      flex-basis: 320px;
      order: 1;
    }

    &--catalog {
      display: block;
      padding-left: 48px;
      order: 4;
    }

    &--individual {
      display: block;
      padding-left: 38px;
      order: 5;
    }

    &--form {
      display: block;
      width: 82px;
      margin-right: 12px;
      border: 1px solid #dfdfdf;
      border-top: none;
      border-bottom: none;
      order: 2;
    }

    &--cart {
      display: block;
      padding-right: 50px;
      flex-basis: 220px;
      flex-grow: 3;
      order: 3;
    }

    &--delivery {
      display: block;
      padding-top: 20px;
      margin-left: auto;
      padding-right: 50px;

      @include font-regular (15px, 400, normal, 24px, $content-color);
      order: 6;
    }
  }

  .main-navigation__link {
    font-size: 15px;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 15px;
    margin-left: 0;

    &--logo {

    }

    &--catalog {
      padding-top: 20px;
    }

    &--individual {
      padding-top: 20px;
    }

    &--search {
      font-size: 0;
    }

    &--cart {
      font-size: 17px;
      text-align: right;

      &::before {
        margin-left: -52px;
      }
    }
  }

  .main-navigation__icon {
    margin: 0;
    margin-top: 23px;
    opacity: 0.3;
  }

  .main-navigation__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
  }

  .main-navigation__list {
    max-width: 1250px;
    margin: 0 auto;
    justify-content: flex-start;
  }

  .main-navigation__item {
    display: block;
    width: auto;
    padding: 0;

    &--logo {
      margin-left: 100px;
      order: 3;
    }

    &--catalog {
      padding-left: 100px;
      padding-right: 32px;
      border-right: 1px solid #dfdfdf;
      order: 1;
    }

    &--individual {
      padding-left: 34px;
      order: 2;
    }

    &--form {
      width: 84px;
      margin-left: -95px;
      order: 4;
    }

    &--cart {
      flex-basis: auto;
      padding-right: 103px;
      text-align: right;
      order: 5;
    }

    &--new {
      padding-top: 18px;
      padding-left: 100px;
      padding-right: 62px;
      order: 6;
    }

    &--sales {
      padding-top: 18px;
      order: 7;
    }

    &--delivery {
      text-align: right;
      padding-top: 18px;
      padding-right: 101px;
      order: 8;
    }
  }

  .main-navigation__link {
    padding: 0;

    &--logo {
    }

    &--catalog {
      padding-top: 30px;
      padding-bottom: 34px;
      font-size: 17px;
      letter-spacing: 0.2px;
    }

    &--individual {
      padding-top: 32px;
      padding-bottom: 34px;
      font-size: 17px;
    }

    &--search {
      font-size: 0;
    }

    &--cart {
      padding-top: 33px;

      &::before {
        top: 32px;
        left: 71px;
        opacity: 0.3;
      }
    }

    &--new {
    }

    &--sales {

    }
  }

  .main-navigation__icon {
    margin-top: 29px;
  }
}
