.main-header {
  background-color: #f1f1f1;
}

.main-header__description {
  @include reset-indent;
  min-height: 282px;
  padding: 0 30px;
  text-align: center;
  background-color: #fbfbfb;
}

.main-header__caption {
  position: absolute;
  width: 260px;

  @include font-bold (27px, 400, normal, 30px, #010000);
  margin-top: -103px;
}
