.promo {
  padding: 27px 30px 48px;

  @include font-regular (15px, 400, normal, 24px, $content-color);
  max-width: 1050px;
  margin: 0 auto;
  background: {
    image: url("../img/bg-zigzag-line.svg");
    repeat: repeat-x;
    position-y: bottom;
    position-x: 7px;
    size: 100% 17px;
  }
}

.promo__header {
  display: flex;
  flex-direction: column;
}

.promo__title {
  @include reset-indent;
  margin-left: -1px;

  @include font-bold (25px, 400, normal, 30px, #000000);

  &--contacts {
    font-size: 18px;
  }
}

.promo__hot-offer {
  @include reset-indent;
  padding-top: 5px;

  @include font-bold (17px, 400, normal, 20px, $hot-color);
  text-transform: uppercase;
}

.promo__description {
  @include reset-indent;
  padding-top: 22px;
  padding-bottom: 17px;

  @include font-regular (15px, 400, normal, 24px, $content-color);
}

.promo__table-raw {
  border-bottom: 1px solid #ececec;
}

.promo__table-cell {
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}

.promo__table-cell:first-child {
  width: 98px;
}

.promo__image {
  padding-top: 27px;
}

.promo__price {
  @include reset-indent;
  padding-top: 17px;
  padding-bottom: 25px;

  @include font-bold (17px, 400, normal, 24px, $content-color);
  text-align: center;
}

.promo__button {
  display: block;
  padding: 14px 0;
  border: 2px solid #444444;

  @include font-bold (17px, 400, normal, 20px, $content-color);
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 45px 50px 22px;
    background-size: 100% 24px;
    background-position-x: 18px;
  }

  .promo__header {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 31px;
    margin-left: -2px;
  }

  .promo__title {
    font-size: 43px;
  }

  .promo__hot-offer {
    width: 70px;
    padding: 1px 29px 0 0;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }

  .promo__container {
    width: 668px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .promo__description {
    width: 298px;
    padding-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__table-raw {
    padding-top: 7px;
  }

  .promo__image {
    position: absolute;
    margin-top: -264px;
    margin-left: 334px;
  }

  .promo__price {
    width: 300px;
    margin-left: -7px;
    padding-top: 56px;
    padding-bottom: 35px;
    font-size: 20px;
  }

  .promo__button {
    margin-left: -2px;
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 121px 0 45px;
    background-position-x: 29px;
  }

  .promo::before {
    bottom: -40px;
  }

  .promo__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  .promo__title {
    font-size: 53px;
    margin-left: 2px;
  }

  .promo__hot-offer {
    padding: 2px 52px 0 49px;
  }

  .promo__container {
    margin-left: 175px;
  }

  .promo__description {
    padding-top: 30px;
    padding-bottom: 49px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__image {
    margin-top: -444px;
    margin-left: 350px;
    z-index: -1;
  }

  .promo__price {
    padding-top: 107px;
    margin-left: -4px;
  }
}
