.social-icons {
  @include reset-indent;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-icons__link {
  display: block;
  font-size: 0;
  background-repeat: no-repeat;

  &--instagram {
    width: 21px;
    height: 21px;
    margin-top: 6px;
    margin-left: -9px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
    margin-right: 37px;
    margin-left: 43px;
  }

  &--twitter {
    width: 24px;
    height: 20px;
    margin-top: 6px;
    margin-right: -2px;
  }
}

@media (min-width: $tablet-width) {
  .social-icons {
    padding: 0;
  }
}
