.catalog-product {
  min-height: 372px;
  border: 1px solid #ececec;
}

.catalog-product__link {
  display: block;
  text-decoration: none;

  &--price {
    display: inline;
    font-size: 0;
    opacity: 0.2;
  }

  &--title:hover {
    opacity: 0.6;
  }

  &--price:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &--title:active {
    opacity: 0.3;
  }

  &--price:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.catalog-product__image {
  display: block;
  margin: 0 auto;
}

.catalog-product__description {
  padding: 27px 28px 20px;
  display: flex;
  flex-direction: column;
}

.catalog-product__description:hover {
  box-shadow: 0 3px 10px 6px rgba(0, 0, 0, 0.1);
}

.catalog-product__description:active {
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.catalog-product__title {
  @include reset-indent;
  @include font-bold (17px, 400, normal, 24px, $header-color);
  text-transform: none;
}

.catalog-product__text {
  @include reset-indent;
  padding-top: 4px;
  padding-bottom: 20px;

  @include font-regular (13px, 400, normal, 30px, $content-color);
}

.catalog-product__price {
  @include reset-indent;
  font-size: 0;
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;

  @include font-bold (15px, 400, normal, 24px, $header-color);
}

@media (min-width: $tablet-width) {
  .catalog-product {
    display: flex;
    min-height: 332px;
  }

  .catalog-product__link {
    &--image {
      max-width: 50%;
    }
  }

  .catalog-product__description {
    flex-basis: 50%;
    padding-top: 25px;
    padding-bottom: 17px;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .catalog-product__image {
    margin: 0;
  }

  .catalog-product__title {
    padding-bottom: 2px;
    font-size: 20px;
    line-height: 25px;

    &--big {
      padding-right: 50px;
    }
  }

  .catalog-product__text {
    margin-bottom: auto;
    padding-top: 3px;
    padding-bottom: 0;
    font-size: 15px;

    &--backet {
      padding-top: 6px;
    }
  }

  .catalog-product__price {
    padding-top: 21px;
    padding-left: 2px;
    padding-right: 3px;
    margin-bottom: 3px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product {
    min-height: 659px;
    flex-direction: column;
  }

  .catalog-product__link {
    &--image {
      max-width: 100%;
    }
  }

  .catalog-product__image {
    height: 462px;
  }

  .catalog-product__description {
    flex-basis: 197px;
    padding: 25px 33px 17px 26px;
    box-sizing: border-box;
  }

  .catalog-product__text--backet {
    padding-top: 3px;
  }

  .catalog-product__price {
    padding: 0;
    padding-top: 23px;
  }
}
