.form-section__header {
  padding: 71px 0 75px;
  background-color: #f1f1f1;
}

.form-section__title {
  @include reset-indent;
  text-align: center;

  @include font-bold (27px, 400, normal, 30px, $header-color);
}

.form-section__description {
  max-width: 700px;
  margin: 0 auto;
  padding: 23px 30px 12px;

  @include font-regular (13px, 400, normal, 24px, $content-color);
}

@media (min-width: $tablet-width) {
  .form-section {
    margin-top: -57px;
    border-top: 1px solid #dfdfdf;
  }

  .form-section__header {
    padding: 103px 0 100px;
    background: {
      image: url("../img/bg-zigzag-fill.svg");
      repeat: repeat-x;
      position-y: bottom;
      size: auto 23px;
    }
  }

  .form-section__title {
    font-size: 43px;
  }

  .form-section__description {
    padding: 62px 50px 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-section {
    margin-top: -42px;
  }

  .form-section__header {
    padding-bottom: 126px;
    width: 100%;
    background: {
      size: auto 37px;
    }
  }

  .form-section__title {
    font-size: 53px;
    padding-top: 4px;
    padding-bottom: 10px;
  }

  .form-section__description {
    padding: 102px 0 17px;
  }
}
