.manufacturing-procces {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 30px 60px;
}

.manufacturing-procces__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
}

.manufacturing-procces__video {
  position: relative;
  margin: 0 auto;
}

.manufacturing-procces__button {
  font-size: 0;
}

.manufacturing-procces__icon-play {
  position: absolute;
  left: 79px;
  top: 37px;
  cursor: pointer;
}

.manufacturing-procces__icon-play:hover {
  width: 121px;
  height: 92px;
  left: 70px;
  top: 30px;
}

.manufacturing-procces__icon-play:active {
  width: 101px;
  height: 77px;
  left: 79px;
  top: 37px;
  opacity: 0.8;
}

.manufacturing-procces__title {
  @include reset-indent;
  position: relative;
  width: 80px;
  padding: 24px 0;

  @include font-bold (17px, 400, normal, 24px, $header-color);

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 29px;
    left: -56px;
    background: {
      image: url("../img/sprite.svg#shape-video-view");
      size: 32px 32px;
      repeat: no-repeat;
    }
  }
}

.manufacturing-procces__description {
  @include reset-indent;
  padding: 7px 33px 25px;

  @include font-regular (13px, 400, normal, 24px, $content-color);
}

.manufacturing-procces__link {
  display: block;
  padding: 14px 24px;
  margin-bottom: 32px;
  border: 2px solid #444444;

  @include font-bold (17px, 400, normal, 20px, $content-color);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .manufacturing-procces {
    padding: 0 50px 61px;
  }

  .manufacturing-procces__container {
    align-items: stretch;
    padding-bottom: 45px;
  }

  .manufacturing-procces__title {
    width: auto;
    padding: 17px 10px 0 105px;
    font-size: 20px;
    order: 2;

    &::before {
      top: 12px;
      left: 40px;
    }
  }

  .manufacturing-procces__image {
    height: 454px;
    order: 1;
  }

  .manufacturing-procces__icon-play {
    left: 282px;
    top: 185px;
  }

  .manufacturing-procces__icon-play:hover {
    left: 270px;
    top: 175px;
  }

  .manufacturing-procces__icon-play:active {
    left: 282px;
    top: 185px;
  }

  .manufacturing-procces__description {
    padding: 32px 45px 35px 38px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  .manufacturing-procces__link {
    width: 583px;
    margin: 0 auto;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing-procces {
    padding-top: 0;
    padding-bottom: 102px;
  }

  .manufacturing-procces__container {
    display: block;
    min-height: 457px;
    padding: 0;
  }

  .manufacturing-procces__title {
    width: 230px;
    margin-left: 655px;
    padding-top: 97px;

    &::before {
      top: 42px;
      left: 107px;
    }
  }

  .manufacturing-procces__icon-play {
    left: 290px;
    top: 50px;
  }

  .manufacturing-procces__icon-play:hover {
    left: 278px;
    top: 40px;
  }

  .manufacturing-procces__icon-play:active {
    left: 290px;
    top: 50px;
  }

  .manufacturing-procces__image {
    float: left;
    margin-top: -144px;
    width: 682px;
  }

  .manufacturing-procces__description {
    width: 230px;
    margin-left: 720px;
    padding-top: 17px;
    padding-bottom: 46px;
  }

  .manufacturing-procces__link {
    margin-left: 760px;
    width: 230px;
  }
}
