body {
  @include reset-indent;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  @include reset-indent;
  box-sizing: border-box;
  border: none;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button--left {
  background: {
    image: url("../img/sprite.svg#shape-left-arrow-view");
    repeat: no-repeat;
    position: 50%;
  }
}

.button--right {
  background: {
    image: url("../img/sprite.svg#shape-right-arrow-view");
    repeat: no-repeat;
    position: 50%;
  }
}


.visually-hidden {
  display: none;
}

.section-header__title {
  @include reset-indent;
  margin-left: -1px;

  @include font-bold (25px, 400, normal, 30px, #000000);
}
